.compactSpace {
  display: flex;

  > .datePicker {
    flex: 1;
    margin-bottom: 8px;
  }

  > .present {
    margin-bottom: 8px;

    > button {
      padding-inline: unset;
      border-left: unset;

      > label {
        padding-inline: 12px;
      }
    }
  }
}
