.compactSpace {
	display: flex;

	>.datePicker {
		flex: 1;
		margin-bottom: 8px;
		min-width: 120px;
	}

	.hideLeftBorder:not(div[class~='ant-select-open'])>div[class~='ant-select-selector']:not(:hover) {
		border-left-color: rgba(0, 0, 0, 0);
	}

	>.present {
		>* {
			margin: 0;
		}
	}
}