.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: center;
	align-items: center;
	padding-block: 8px;
	margin-bottom: 23px;

	@media (max-width: 900px) {
		margin-bottom: 12px;
	}
}